services:
  # Servicio Usuarios
  - type: web
    name: ecommerce-usuarios
    env: node
    buildCommand: cd Usuarios && npm install
    startCommand: cd Usuarios && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001

  # Servicio Carrito
  - type: web
    name: ecommerce-carrito
    env: node
    buildCommand: cd carrito && npm install
    startCommand: cd carrito && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3002

  # Servicio Gateway
  - type: web
    name: ecommerce-gateway
    env: node
    buildCommand: cd gateway && npm install
    startCommand: cd gateway && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000